= stylesheet_link_tag "home"

%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand{href: "#"}
    #navbar.navbar-collapse.collapse
      %ul{class: "nav navbar-nav navbar-right"}
			
          <% if session[:id] != nil %>
						<li><%= link_to "Upload", upload_path %></li>
						<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Account <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Settings", edit_user_path(current_user) %></li>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, method: "delete" %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
		
.container.snaek
  .col-md-6
    #left_pic.col-md-12.picture
      %img{src: '/assets/arizona1.jpg'}
  .col-md-1
  .col-md-6
    #right_pic.col-md-12.picture
      %img{src: '/assets/arizona2.jpg'}
      
=javascript_include_tag "script"