= stylesheet_link_tag "home"

%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      %a.navbar-brand{href: "#"}
    #navbar.navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-right.list-inline
        %li.dropdown
          %a.dropdown-toggle{"data-toggle" => "dropdown", "dropdown-toggle" => "dropdown-toggle", :href => "#"} 
            Hey
            %span.caret
          %ul.dropdown-menu
            %li
              %a{href:"#", style:"height:40px;"}Profile
            %li
              %a{href:"#", style:"height:40px;"}Settings
            %li.divider
            %li
              %a{href:"#", style:"height:40px;"}Logout

		
.container.snaek
  .col-md-6
    #left_pic.col-md-12.picture
      %img.left_pic{src: '', "data-picture_id" => "0"}
  .col-md-1
  .col-md-6
    #right_pic.col-md-12.picture
      %img.right_pic{src: '', "data-picture_id" => "0"}
      
=javascript_include_tag "home_page"

<script>
$(document).ready(function(){
requestImages();
})

function requestImages(){
$.post("/competition/get_pictures", {
}, function(data) {
if (data.success === true) {
console.log(data);
$(".left_pic").attr("src",data.first_image_url);
$(".left_pic").attr("data-picture_id",data.first_image.id);
$(".right_pic").attr("data-picture_id",data.second_image.id);
$(".right_pic").attr("src",data.second_image_url);

} else {

console.log("boo");
}
});


}
</script>